RewriteEngine On

<FilesMatch "\.(jpg|jpeg|png|gif|css|js|ico|html)$">
    Header unset Cache-Control
    Header unset Pragma
    Header unset Expires
</FilesMatch>

<FilesMatch "\.json$">
    Order Allow,Deny
    Deny from all
</FilesMatch>


#style css url
RewriteRule ^style/style$ src/css/style.css [L]