body{
    background: linear-gradient(to right, #161616, #2e2e2e);
}

.nav-link {
    color: rgb(218, 218, 218);
}

.nav-link::after {
    background-color: #bcbcbc;
}

.main_tetx,
.canter_tetx{
    color: rgb(238, 238, 238);
}

.nav-link, .navbar-brand{
    color: rgb(228, 228, 228) !important;
}

.ssssq{
    filter: invert(100%);
}